<mat-toolbar color="primary">
  <div>
    <a routerLink="">MyApp !</a>
  </div>
  <ul>
    <div class="search-input">
      <input
        matInput
        type="text"
        placeholder="Search a product"
        [formControl]="searchQuery"
        [matAutocomplete]="auto"
      />
      <mat-icon aria-hidden>search</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let product of searchedProduct | async"
          [value]="product.title"
        >
          <img
            aria-hidden
            class="search-img"
            [src]="product.imagePath"
            height="30"
          />
          <span>{{ product.title }}</span> |
          <small>{{ product.price }}€</small>
        </mat-option>
      </mat-autocomplete>
    </div>
    <li *ngIf="userIsAuthentificated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Product</a
      >
    </li>
    <li *ngIf="userIsAuthentificated">
      <a mat-button routerLink="/cart" routerLinkActive="mat-accent">
        Checkout
        <mat-icon
          [matBadge]="cartSize > 0 ? cartSize : null"
          matBadgeColor="warn"
          matBadgeSize="small"
          >shopping_cart</mat-icon
        >
      </a>
    </li>
    <li *ngIf="!userIsAuthentificated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthentificated">
      <a mat-stroked-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthentificated">
      <button mat-stroked-button (click)="onLogout()">
        Logout
      </button>
    </li>
  </ul>
</mat-toolbar>
