.info-text {
  margin-top: 1rem;
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

mat-card img {
  height: 30vh;
  object-fit: cover;
}

mat-card-actions {
  padding-top: 0;
}

.product-deck-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 1rem;
}

.product-item {
  flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.5rem;
  max-width: 300px;
  min-width: 210px;
}

.product-title {
  margin-left: -36px;
  overflow: hidden;
  flex: 1;
}

.product-price {
  margin-bottom: 12px;
  color: coral;
  padding: 4px;
  background-color: papayawhip;
  margin-top: -4px;
  box-shadow: 3px 3px 4px 0px #00000024;
}

.product-description {
  height: 60px;
  overflow: hidden;
}
