.info-text {
  margin-top: 1rem;
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-chip::after {
  background: none !important;
}

mat-paginator {
  margin-top: 1rem;
}

mat-card img {
  height: 15em;
  object-fit: cover;
}

mat-card-actions {
  padding-top: 0;
}

.product-deck-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 0.8fr));
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.product-item {
  padding: 1rem 1rem 1rem 1rem;
  max-height: 400px;
}

.product-title {
  margin-left: -36px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.product-title > *{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price {
  margin-bottom: 12px;
  color: coral;
  padding: 4px;
  background-color: papayawhip;
  margin-top: -4px;
  box-shadow: 3px 3px 4px 0px #00000024;
}

.product-description {
  line-height: 1.2rem;
  max-height: 3.6rem;
  text-align: justify;
  
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}
