/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackBarError {
    color: #f44336;
    text-align: center;
}

.snackBarError span {
    margin: auto;
}

.snackBarSuccess {
    color: greenyellow;
    text-align: center;
}

.snackBarSuccess span {
    margin: auto;
}

.mat-snack-bar-container {
    min-width: 100px !important;
}
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important;
    margin-left: 2px;
}  